@page "/combine"

<PageTitle>Combine</PageTitle>
<div class="container">
    <div class="row mb-2">
        <div class="col-sm">
            Select Library File 1
            <InputFile></InputFile>
        </div>

        <div class="col-sm">
            <Format></Format>
        </div>

        <div class="col-sm">
            Select Library File 2
            <InputFile></InputFile>
        </div>
    </div>

    <div class="row mb-2" align-items-center>
        <div class="col-sm"><DxButton Text="Copy Selected ▶️"></DxButton></div>
        <div class="col-sm text-center"><DxButton Text="Reset"></DxButton></div>
        <div class="col-sm"><DxButton Text="◀️ Copy Selected"></DxButton></div>
    </div>

    <div class="row mb-2">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>

    <div class="row">
        <div class="col-3 offset-4 text-center">
            <DxButton Text="Save Library File"></DxButton>
        </div>
    </div>

</div>


@code {

}
