@page "/"

<PageTitle>Home</PageTitle>

<h1>LaserParamsConverter</h1>
<hr />
<p>
    Converts parameter settings and libraries for different laser engraver wattages and lens sizes. Supports EZCAD2, EZCAD3, and LightBurn parameter library file types.
</p>
<p>
    This project came about as I wanted a way to quickly convert an entire laser parameter library from a different wattage and/or lens size without having to manually convert, edit, and save each individual parameter group by hand. This utility will read and write EZCAD2, EZCAD3, and LightBurn file formats, and also includes a conversion calculator tool.
</p>

<SupportPrompt Title="Support me on Ko-fi" />
