<div class="alert alert-secondary mt-4">
    <span class="oi oi-heart me-2" aria-hidden="true"></span>
    <strong>@Title</strong>
    <br /> 
    <span>
        If you find the program useful, please consider a small donation by clicking the link to
        <a target="_blank" class="font-weight-bold link-dark" href="https://ko-fi.com/W7W0DPW3G">buy me a coffee on Ko-Fi</a>
        and tell us what you think.
    </span>    
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
